.height{
  aspect-ratio: 3/1;
}
.catogiries{
  display: none;
}
.link:hover .catogiries{
  display:block;
 
  transition: all 400ms ease ;
}

@media (max-width:500px){
 .height{
  aspect-ratio: 1/2;
 }
}
@media (max-width:767px){
 .height{
  aspect-ratio: 1;
 }
 .transform{
  transform: translateX(100vw);
}
.transform_O{
  transform: translateX(0vw);
  
}
.transform_O .main_section{
    backdrop-filter: blur(10px);
}
}