.height{
  aspect-ratio: 2/1;
}
.catogiries{
  display: none;
}
.link:hover .catogiries{
  display:block;
 
  transition: all 400ms ease ;
}
.transform{
  transform: translateX(100vw);
}
/* .transform_O{
  transform: translateX(0vw);
} */
@media (max-width:500px){
 .height{
  aspect-ratio: 1/2;
 }
}
@media (max-width:767px){
 .height{
  aspect-ratio: 1;
 }
}