.height{
  aspect-ratio: 1.2/1;
}
.catogiries{
  display: none;
}
.link:hover .catogiries{
  display:block;
 
  transition: all 400ms ease ;
}
.strike{
  color: hsl(0, 4%, 51%);
  position:relative;
}
.line{
  position: absolute;
  color: hsl(0, 4%, 51%);
  width: 5rem;
  height:.1rem;
  left: 0;
  right: 0;
  bottom: 0.5rem;
}

@media ( max-width:1027px) {
  .transform{
    /* transform: translateX(100vw); */
    display: none;
  }
  .transform_O{
    /* transform: translateX(0vw); */
    display: block;  
  } 
}
@media (max-width:500px){
 .height{
  aspect-ratio: 1/2;
 }
}
@media (max-width:767px){
 .height{
  aspect-ratio: 1;
 }

}